/* div{
    width: 200px;
    height: 150px;
    padding: 50px;
    margin: 50px;
    border: 2px solid blue;
    background-color: cornflowerblue;
    box-sizing: border-box;
} */

/* div {
    width: 100px;
    height: 50px;
    padding: 50px;
    margin: 50px;
    border: 2px solid blue;
    background-color: cornflowerblue;
    box-sizing: border-box
} */

/* div {
    width: 200px;
    height: 150px;
    padding: 50px;
    margin: 50px;
    border: 2px solid blue;
    background-color: CornflowerBlue;
  } */


  /* div {
    width: 150px;
    height: 100px;
    padding: 50px;
    margin: 50px;
    border: 2px solid blue;
    background-color: CornflowerBlue;
  } */

/* 
  div {
    width: 150px;
    height: 100px;
    padding: 50px;
    margin: 50px;
    border: 2px solid blue;
    background-color: CornflowerBlue;
    box-sizing: border-box
  } */


  div {
    width: 96px;
    height: 46px;
    padding: 50px;
    margin: 50px;
    border: 2px solid blue;
    background-color: CornflowerBlue;
  }